//dark shades of primary color
$clr-primary-0: hsl(280,60%,21%);
$clr-primary-1: hsl(280,60%,29%);
$clr-primary-2: hsl(280,60%,37%);
$clr-primary-3: hsl(280,60%,45%);
$clr-primary-4: hsl(280,60%,52%); //primary color
$clr-primary-5: hsl(280,60%,60%);
$clr-primary-6: hsl(280,60%,67%);
$clr-primary-7: hsl(280,60%,74%);
$clr-primary-8: hsl(280,60%,81%);
$clr-primary-9: hsl(280,60%,88%);

//light shades of primary color
$clr-secondary-0: hsl(210,60%,21%);
$clr-secondary-1: hsl(210,60%,29%);
$clr-secondary-2: hsl(210,60%,37%);
$clr-secondary-3: hsl(210,60%,45%);
$clr-secondary-4: hsl(210,60%,52%); //primary color
$clr-secondary-5: hsl(210,60%,60%);
$clr-secondary-6: hsl(210,60%,67%);
$clr-secondary-7: hsl(210,60%,74%);
$clr-secondary-8: hsl(210,60%,81%);
$clr-secondary-9: hsl(210,60%,88%);

//greys
$clr-grey-0: hsl(210,40%,21%);
$clr-grey-1: hsl(210,40%,29%);
$clr-grey-2: hsl(210,20%,37%);
$clr-grey-3: hsl(210,20%,45%);
$clr-grey-4: hsl(210,20%,52%); //primary color 
$clr-grey-5: hsl(210,20%,60%);
$clr-grey-6: hsl(210,20%,67%);
$clr-grey-7: hsl(210,20%,74%);
$clr-grey-8: hsl(210,20%,81%);
$clr-grey-9: hsl(210,20%,88%);

//misc colors
$white:#fff;
$black:#222;
$red-dark:hsl(0,66%,44%);
$red-light:hsl(0,66%,66%);
$green-dark:hsl(125,66%,44%);
$green-light:hsl(125,66%,66%);