$transition:all 0.5s linear;
$spacing:.1rem;
$radius:.25rem;
$light-shadow: 0 5px 15px rgba(0,0,0,.1);
$dark-shadow: 0 5px 15px rgba(0,0,0,.5);
$max-width:1170px;
$fixed-width:620px; //size of the content
